/* [#46c87c] */
@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-glassmorphism {
   background: rgb(39, 51, 89, 0.4);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-glassmorphism {
   background: rgba(225, 225, 225, 0.05);
   border-radius: 16px;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(225, 225, 225, 0.3);
}

.white-glass {
   background: rgba(225, 225, 225, 0.05);
   border-radius: 4px;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(225, 225, 225, 0.3);
}
:root {
   background: #13131a;
}
/* #_rootBody {
  background-image: url("/bg3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
} */

@media screen and (min-width: 900px) {
   #_rootBody {
      background-position: bottom;
      background-size: cover;
   }
}

.borderR {
   border-right: 1px solid rgba(225, 225, 225, 0.3);
}

.customBorder {
   border: 1px solid rgba(225, 225, 225, 0.3);
}
.customBg {
   background-color: #46c87c;
}
.customClr {
   color: #46c87c;
}
